.box {
    display: flex;
    justify-content: center; /* центрування по горизонталі */
    align-items: center; /* центрування по вертикалі */
    height: 800px; 
    width: 1000px;
    border: 2px solid black;
  }
  
  .child {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 2px solid black;
  }